<div class="container">
  <h1>Structural Directives</h1>
  <pre>
    They affect the DOM like the rendering of elements based on whether certain conditions are met. 
    
    Must be initialited with an asterick <q><b>*</b></q>.

    <strong>You cannot add more than one structural directive to one elemennt </strong>
    e.g,
    <code> &lt;h3 *ngIf="condition" *ngFor="loop statement"&gt; Hello World &lt;/h3&gt; </code>
  </pre>
  <ul>
    <li>
      <h3>Structural Directive - *ngIf </h3>
      <div (mouseover)="notifyMe()" (mouseleave)="backToNormal()">
        <button class="btn success" (click)="acceptance(true)" >Approve</button>
        <span class="emoji">{{notification}}</span>
        <button class="btn danger" (click)="acceptance(false)" >Reject</button> <br>
        <span class="msg accept" *ngIf="status" [innerText]="accepted"></span>
        <span class="msg deny" *ngIf="!status" [innerText]="denied"></span>
      </div>
    </li>
    <br>
    <li>
      <h3>Structural Directive - *ngFor </h3>
      <p class="number" *ngFor="let number of numbers; let i = index">
        <span *ngIf="(i+1)%3 == 1"> {{i+1}}- &emsp; <b>{{number}}</b> </span>
      </p>
    </li>
    <li>
      <h3>Structural Directive - *ngSwitch</h3>
      <input type="number" [(ngModel)]="luckyNumber" min="0"/>
      <div [ngSwitch]="luckyNumber">
        <p *ngSwitchCase="1"> Orange</p>
        <p *ngSwitchCase="2">Apple</p>
        <p *ngSwitchCase="3">Banana</p>
        <p *ngSwitchCase="4">Watermelon</p>
        <p *ngSwitchDefault="">Choose a number between 0 and 4</p>
      </div>
    </li>
  </ul>

</div>